.container {
  padding-left: 200px;
  padding-right: 200px;
  flex: 1;
}

.textTitle {
  color: #1f2f59;
  font-family: "Poppins Semi Bold";
  font-size: 40px;
}

.inputContainer {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid grey;
  flex: 1;
  width: 100%;
  font-family: "Poppins Regular";
}

.btnContainer {
  display: flex;
  background-color: aqua;
  justify-content: "flex-end";
}
