.container {
  padding-left: 200px;
  padding-right: 200px;
  flex: 1;
}

.textTitle {
  font-size: xx-large;
  font-weight: bold;
  color: #1f2f59;
}

.inputContainer {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 10px;
  flex: 1;
}

.btnContainer {
  display: flex;
  background-color: aqua;
  justify-content: "flex-end";
}
