.container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

.linkContainer {
  width: 30vh;
  display: flex;
  flex-direction: column;
}

.textLink {
  text-decoration: none;
  font-size: large;
  color: black;
}

.textLink:hover {
  color: #f7911a;
  font-weight: 500;
}
